body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.img-index{
    display: flex;
}
.izquierda{
    background-color: #000;
    height: 500px;
    width: 55%;
    color: #fff;
    font-family: 'Teko', sans-serif;
}
.derecha{
    background-size: cover;
    background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url('https://i.pinimg.com/originals/cb/fa/92/cbfa924ae956f63184221fe0ceb9da83.jpg');
    height: 500px;
    width: 45%;
}
.title{
    font-family: 'Monoton', cursive;
    font-size: 6em;
    padding: 40px .3em;
}
.title-info{
    font-size: 1.1em;
}
.info-content{
    max-width: 20em;
    font-size: 2em;
    padding:0 .3em;
}
.nav-item{
    color: #fff;
}
.nav-item a:hover{
    background-color: #0ed1b7;
    color:#FFF;
}
.title-index, .promotion-index{
    text-align: center;
}
/*--------Mi perfil-----------*/
.datos-profile img{
    width: 60%;
    border-radius: 50%;
    box-shadow: .4px .4px 11px rgb(230, 103, 103);
}
aside{
    text-align: center;
    height: 100%;
    padding: 2em 0;
    margin: auto;
    background-color: #fff;
    box-shadow: 1px 1px 10px;
}
aside hr{
    background-color: rgb(156, 15, 98);
    height: 3px;
}
.table-products{
    margin: auto;
}
/*----------------Productos------------------*/
.content-product{
    max-height: 28em;
    min-height: 28em;
    box-shadow: 5px 5px 8px;
    background-color: #ffff;
    margin: 1.2em 0;
}
.img-product img{
    width: 100%;
    min-height: 12em;
    max-height: 12em;
}
.header-body{
    min-height:3em;
    max-height:3em;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    padding: .6rem;
}
.body-body{
    height: 8.6em;
    padding: .5em;
}
.body-body h6{
    color: rgb(156, 15, 98);
    font-weight:bold;
    font-size: 1.2rem;
}
.footer-product{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.ver-mas{
    background-color: rgb(156, 15, 98) ;
    color: #FFF;
    min-width: 40%;
    margin: 0 .5em;
}
.ver-mas:hover{
    border:solid 2px rgb(156, 15, 98);
    font-weight: bold;
    background-color: #ffff;
    color: rgb(156, 15, 98);
}
.btn-perfil{
    border:solid 2px rgb(156, 15, 98);
    font-weight: bold;
    min-width: 40%;
    margin: 0 .5em;
    background-color: #ffff;
    color: rgb(156, 15, 98);
}
.btn-perfil:hover{
    background-color: rgb(156, 15, 98) ;
    color: #FFF;
}

/*-------------------Membrecias-------------------*/
.promotion{
    margin: 1.6em 0;
}
.promotion-card{
    max-width: 90%;
    min-width: 80%;
    margin:auto;
    background-color:#fff;
    min-height: 28em;
    box-shadow: 1px 1px 8px;
}
.title-promotion h3{
    font-size: 35px;
    height: 3.4em;
    margin: 0;
    display: flex;
    color:#fff;
    border: 6px solid rgb(14, 185, 86);
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(14, 185, 86) 45%, rgb(44, 43, 43));
    box-shadow: 0 8px 20px;
}
.body-promotion{
    padding: 1em 3em 1em 3em;
    height: 20em;
}
.body-promotion h2{
    font-size: 6rem;
}
.body-promotion p{
    font-size: 1em;
}
.footer-promotion{
    padding-top: 2em;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.elegir{
    background:rgb(14, 185, 86);
    color: #fff;
    padding: .7em;
    width: 80%;
    font-size: 1.1em;
    font-weight: bold;
}
.line-basico{
    background-color: rgb(59, 165, 103);
    height: 2px;
}
.elegir:hover{
    background:#fff;
    border: solid 3px rgb(59, 165, 103);
    color: #000;
}

/*----------------footer--------------*/
.footer-content{
    min-height: 390px;
    background-color: #000;
    padding: 40px 20px;
    color: #fff;
    margin-top: 120px;
}
.footer-redes{
    background-color: #1fa7b0;
    min-height: 80px;
    padding: 10px;  
    margin-bottom: 60px;
}

.footer-info{
    min-height: 120px;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
}
.footer-buttons a{
    text-align: center;
    border: solid 1.7px #fff;
    color: #fff;
    margin: 0 2px;
    width: 200px;
}
.footer-buttons a:hover{
    background-color: #fff;
    color: #000;
}
.footer-pie{
    width: 60%;
    min-height: 70px;
    margin: auto;
    text-align: center;
}

/*----------show productos--------*/
.show-content{
    padding: 50px;
}
.show-productos{
    padding: 30px;
    background-color: #fff;
}
.show-productos img{
    overflow: hidden;
    width: 100%;
}
.show-header{
    height: 100px;
    width: 100%;
}
.show-img{
    background-color: #fff;
    width: 100%;
    overflow: hidden;
}
.show-img img{
    width: 100%;
    height: 100%;
}
.show-info{
    background-color: #fff;
    padding: 20px;
}
.show-description{
    border: .5px solid rgb(216, 199, 199);
    padding: 20px;
    border-radius: 7px;
    background-color: #fff;
    word-wrap: break-word;
}
.btn-producto{
    width: 100%;
    background-color: #1fa7b0;
}
.show-vendedor{
    border: .5px solid rgb(216, 199, 199);
    padding: 20px;
    word-wrap: break-word;
    border-radius: 7px;
    margin-top: 20px;
}
.name-vendedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.img-profile{
    max-width: 50px;
    max-width: 50px;
    margin: 0 4px;
    border-radius: 50%;
}
.btn-visitar-perfil{
    width: 100%;
    background-color: rgb(156, 15, 98);
    color: #fff;
}
.btn-visitar-perfil:hover{
    background-color: #000;
    color: #fff;
}
.productos-relacionados{
    background-color: #fff;
    padding-bottom: 40px;
}
.title-relacionados{
    text-align: center;
}
.pub_producto{
    margin: 30px 0;
    box-shadow: 5px 5px 8px;
    background-color: #ffff;
}
.header-producto{
    padding: 12px;
    border: solid 1px rgb(199, 199, 199);
    display: flex;
}
.name-user{
    width: 85%;
}
.body-producto{
    display: flex;
}
.img-producto{
    max-width: 45%;
    min-width: 45%;
    max-height: 330px;
    min-height: 295px;
}
.img-producto img{
    width: 100%;
    height: 100%;
}
.desc-producto{
    width:55;
    padding: 15px;
    overflow: hidden;
}
.desc-producto h2,p{
    word-wrap: break-word;
}
.footer-producto{
    display: flex;
    justify-content: center;
}

/*---------------Login-----------------------*/
.main-login{
    width: auto;
    padding: 0;
    margin: 0;
}
.full-content{
    width: 100%;
    text-align: center;
    margin: auto;
}
.contenedor-login{
    margin: auto;
    width: 100%;
    box-shadow: 5px 5px 8px;
    height: 31.25em;
    display: flex;
    margin-top:1.7em;
}
.login-izquierda{
    width: 45%;
    background: url(https://images.unsplash.com/photo-1468495244123-6c6c332eeece?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Z2FkZ2V0fGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
}
.login-derecha{
    background-color: #ffff;
    padding: 1.785em;
    width: 55%;
}
.title-login{
    text-align: center;
    margin: 1.25em 0;
}
.content-inputs{
    margin-top: 3.75em;
}
.content-inputs input{
    border-radius: 6px;
    border: solid 1px #afa6a5;
    width: 100%;
    height: 40px;
}
.content-inputs input:focus{
    border-radius: 6px;
    border: solid 3px #0ed1b7;
}
.input-email{
    margin: 20px 0;
}
.input-pass{
    margin: 20px 0;
}
.btn-iniciar{
    background-color: rgb(156, 15, 98);
    color: #ffff;
    width: 100%;
}
.btn-iniciar:hover{
    background-color: #000;
    color: #ffff;
}
.recuerdame{
    margin-top: 30px;
    height: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.recuerdame label{
    margin: 0;
    padding: 0 10px;
}
.recuerdame input{
    height: 15px;
    padding: 0 10px;
    width: 15px;
}

/*---------------regstro------------------*/
.registro-main{
    background-color: aqua;
    margin: auto;
    margin-top: 1.7em;
    padding: 0%;
    display: flex;
    background: #ffff;
    box-shadow: 5px 5px 8px;
}
.register-izquierda{
    width: 60%;
    padding: 50px 30px;
}
.register-derecha{
    width: 40%;
    background-image: url(https://img.wallpapersafari.com/phone/1080/1920/54/22/fdrpj2.jpg);
    background-size: cover;
    background-position: center;
}
.header-register{
    text-align: center;
    padding: 5px 0;
}
.body-register input{ 
    margin: 20px 0;
    border-radius: 6px;
    border: solid 1px #afa6a5;
    width: 100%;
    height: 40px;
}
.body-register input:focus{
    border-radius: 6px;
    border: solid 3px #0ed1b7;
}
.btn-registrar{
    background-color: rgb(156, 15, 98);
    color: #ffff;
    width: 100%;
}
.btn-registrar:hover{
    background-color: black;
    color: #fff;
}
.cuenta-exist{
    padding-top: 10px;
    text-align: center;
}

/*----------Perfil Productos-----------*/
.main-productos{
    margin: auto;
    margin-top: 50px;
}
.title-misproductos{
    text-align: center;
}
/*--------------------*/
.foto-producto{
    max-width: 100px;
    margin: .5em 0;
}

/*------------Actualizar productos----------------*/
.editar-main{
    background-color: aqua;
    margin: auto;
    margin-top: 1.7em;
    padding: 0%;
    display: flex;
    background: #ffff;
    box-shadow: 5px 5px 8px;
}
.editar-izquierda{
    width: 50%;
    padding: 20px 20px;
}
.editar-derecha{
    width: 50%;
    overflow: hidden;
}
.title-imagen{
    text-align: center;
    padding-top: 25px;
    height: 10%;
}
.img-derecha{
    height: 90%;
}
.img-derecha img{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.header-editar{
    text-align: center;
    padding: 5px 0;
}
.body-editar input select { 
    border-radius: 6px;
    border: solid 1px #afa6a5;
    width: 100%;
    height: 40px;
}
.body-editar input:focus select:focus{
    border-radius: 6px;
    border: solid 3px #0ed1b7;
}
.btn-editar{
    color: #ffff;
    width: 100%;
}
.btn-actualizar{
    width: 100%;
}
.btn-actualizar:hover{
    color: #000;
    background-color: rgb(253, 249, 6);
}
/*-------------Crear Producto---------------*/
.guardar-main{
    background-color: aqua;
    margin: auto;
    margin-top: 1.7em;
    padding: 0%;
    display: flex;
    background: #ffff;
    box-shadow: 5px 5px 8px;
}
.guardar-izquierda{
    width: 100%;
    padding: 20px 20px;
}
.img-derecha{
    height: 90%;
}
.header-guardar{
    text-align: center;
    padding: 5px 0;
}
.body-guardar input select { 
    border-radius: 6px;
    border: solid 1px #afa6a5;
    width: 100%;
    height: 40px;
}
.body-guardar input:focus select:focus{
    border-radius: 6px;
    border: solid 3px #0ed1b7;
}
.btn-guardar{
    color: #ffff;
    width: 100%;
}
.btn-guardar{
    width: 100%;
}
.btn-guardar:hover{
    color: #000;
    background-color: rgb(253, 249, 6);
}